@import "tailwindcss";

body {
  margin: 0;
  min-width: 350px;
  min-height: 100vh;

  background-color: #202020;
  color: white;

  font-family: "Inter";
}

main {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
}
